---
import { Icon } from "astro-icon/components";
const { slug, tip = "访问量" } = Astro.props;
---

<div class="flex items-center text-50 text-sm font-medium gap-x-2">
    <div class="meta-icon">
        <Icon name="material-symbols:visibility-outline" class="text-xl" />
    </div>
    {tip}: <span class="view-counter-article" data-id={slug}>加载中...</span>
</div>

<script is:inline>
    document.querySelectorAll(".view-counter-article").forEach(async (el) => {
        try {
            const resp = await fetch(
                `https://api.twlmgatito.cn/counter/${encodeURIComponent(el.dataset.id)}`,
            );
            el.textContent = (await resp.json()).count;
        } catch {
            el.remove();
        }
    });
</script>
